<h1>Welcome to CISC4900</h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>
<form action="/" method="POST" enctype="multipart/form-data">
  <input type="file" name="myFile" />
  <button type="submit">Submit</button>
</form>
<a href="/login">Login</a>
<a href="/signup">SignUp</a>